@import '../styles/shared.scss';

.game {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__content {
    height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 16px 0;
  }

  &__header {
    width: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    gap: 32px;

    & > * {
      flex: 1;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 500;
    font-size: 18px;
    color: #606060;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;


    svg {
      max-width: 16px;
      max-height: 16px;
      fill: #606060;
    }
  }

  &__heading {
    font-size: 24px;
    font-weight: 600;
    color: #606060;
    white-space: nowrap;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
  }

  &__spacer {
    flex: 1;
    width: 125px;
  }

  &__timer {
    width: 125px;
    flex: 1;
  }
}

.header {
  &__left {
    display: flex;
    justify-content: flex-start;
  }
  &__center {
    display: flex;
    justify-content: center;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
  }
}