.pixel {
  --color: pink;

  width: 20px;
  height: 20px;
  background: var(--color);
  border: 0.5px solid #e3e3e3;
  transition: .2s;
  cursor: pointer;
  
  &:hover {
    transition: .2s;
    transform: scale(1.1);
  }

  &:active {
    transition: .2s;
    transform: scale(1);
  }
}